<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
</br>
    <center><h1>FORMULARIO DE INSCRIPCIÓN</h1>
    </br>
    <table cellspacing="20">
        <form action="/insertPersona" method="POST" >
            <tr>
                <td align="right">Nombre:</td>
                <td><input type="text" name="name" style="width:200px;height:20px"></td>
            </tr>
            <tr>
                <td align="right">Apellido:</td>
                <td><input type="text" name="lastname" style="width:200px;height:20px"></td>
            </tr>
            <tr>
                <td align="right">Edad:</td>
                <td><input type="number" name="age" style="width:200px;height:20px"></td>
            </tr>
            <tr>
                <td align="right">Hobbie:</td>
                <td><input type="text" name="hobbie" style="width:200px;height:20px"></td>
            </tr>
            <tr>
                <td align="right">Email:</td>
                <td><input type="text" name="email" style="width:200px;height:20px"></td>
            </tr>
            <tr>  
                <td></td>
                <td align="center"><input type="submit" value="Enviar" style="width:80px;height:25px"></td>
                
            </tr>
        </form>
    </table>
</center>

</body>
</html>
